<div ng-controller="specializedController">
    <section class="content ng-scope">
        <div class="box box-primary ng-scope">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <label><b>Name:</b></label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="model.name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <label><b>Status:</b></label>
                            <div class="form-group">
                                <select class="form-control"
                                        ng-options="status.id as status.name for status in statuses"
                                        ng-model="model.status">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <button type="button" class="btn btn-success" ng-click="search()">Search</button>
                    <button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>
                </div>
            </div>
        </div>
    </section>

    <div>
        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
    </div>
</div>

<script type="text/ng-template" id="specialized-modal.html">
    <form novalidate ng-submit="createSpecialized(createSpecializedForm)" name="createSpecializedForm">
        <div class="panel panel-default">
            <div class="panel-heading">SPECIALIZED VIEW</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" ng-model="specializedModel.name" name="specializedNameModal" required>
                    <ul ng-if="(createSpecializedForm.specializedNameModal.$dirty || createSpecializedForm.$submitted) && createSpecializedForm.specializedNameModal.$invalid">
                        <li style="color: red">Specialized name is required</li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-primary" ng-click="cancelModal.dismiss()">Cancel</button>
            </div>
        </div>
    </form>
</script>