  <section id="content" class="wrapper-md bg-dark" style="height: 100%;">
    <div class="container">
      <a class="navbar-brand block" >Singup</a>
      <section class="panel panel-default m-t-lg bg-white">
        <header class="panel-heading text-center">
          <strong>Sign up</strong>
        </header>
        <form novalidate name="signupForm" ng-init="init()" class="panel-body wrapper-lg">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Username:</b></label>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="model.username" name="usernameValid" required>

                    <ul ng-if="(signupForm.usernameValid.$dirty || signupForm.$submitted) && signupForm.usernameValid.$invalid">
                      <li style="color: red">Username is required</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Full Name:</b></label>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="model.fullname" name="fullNameValid" required>

                    <ul ng-if="(signupForm.fullNameValid.$dirty || signupForm.$submitted) && signupForm.fullNameValid.$invalid">
                      <li style="color: red">Full name is required</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Password:</b></label>
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="model.password" name="passwordValid" required>

                    <ul ng-if="(signupForm.passwordValid.$dirty || signupForm.$submitted) && signupForm.passwordValid.$invalid">
                      <li style="color: red">Password is required</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Phone:</b></label>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="model.phone">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Email:</b></label>
                  <div class="form-group">
                    <input type="email" class="form-control" ng-model="model.email" name="emailValid" required>

                    <ul ng-if="(signupForm.emailValid.$dirty || signupForm.$submitted) && signupForm.emailValid.$invalid">
                      <li style="color: red">Email is required</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label><b>Gender:</b></label>
                  <div class="form-group">
                    <select class="form-control"
                            ng-options="gender.id as gender.name for gender in genders"
                            ng-model="model.gender"
                            name="genderValid" required>
                    </select>

                    <ul ng-if="(signupForm.genderValid.$dirty || signupForm.$submitted) && signupForm.genderValid.$invalid">
                      <li style="color: red">Gender is required</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button ng-click="clickSignup()" class="btn btn-primary">Sign up</button>
          <div class="line line-dashed"></div>
          <!--<p class="text-muted text-center"><small>Already have an account?</small></p>-->
          <!--<a href="signin.html" class="btn btn-default btn-block">Sign in</a>-->
        </form>
      </section>
    </div>
  </section>
  <!-- footer -->
  <!--<footer id="footer">-->
    <!--<div class="text-center padder clearfix">-->
      <!--<p>-->
        <!--<small>Web app framework base on Bootstrap<br>&copy; 2013</small>-->
      <!--</p>-->
    <!--</div>-->
  <!--</footer>-->