<section id="content" class="wrapper-md bg-dark" style="height: 100%;">
    <div class="container aside-xxl">
        <a class="navbar-brand block" >Forgot Password</a>
        <section class="panel panel-default m-t-lg bg-white">
            <header class="panel-heading text-center">
                <strong>Forgot Password</strong>
            </header>
            <form novalidate name="forgotForm" ng-init="init()" class="panel-body wrapper-lg">
                        <div class="row">
                            <div class="col-lg-12">
                                <label><b>Email:</b></label>
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="model.email" name="emailValid" required>

                                    <ul ng-if="(forgotForm.emailValid.$dirty || forgotForm.$submitted) && forgotForm.emailValid.$invalid">
                                        <li style="color: red">Email is required</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                <button ng-click="clickSubmit()" class="btn btn-primary">Submit</button>
                <div class="line line-dashed"></div>
            </form>
        </section>
    </div>
</section>